@import './../../../../../assets/css/variable.scss';
.dynamicdiv-headsection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .divSection{
        height: 200px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px;
        border: 2px solid $color-primary;
        cursor: default;
        background-color: $color-white;
        .divbutton{
            line-height: 2.04;
            font-size: 15px;
            width: auto;
            background-color: blueviolet;
            border-radius: 4px;
            color: $color-white!important;
            padding: 3px 10px;
            outline: none;
            height: 46px;
            width: 80px;
            text-align: center;
            border: none;
            cursor: pointer;
        }
    }
}
