<div class="body-section timer">
    <div class="timerpart1 timersection">
        <div class="timersection-container1 timerheadsection timer-border timer-center">
            <app-countdowntimer></app-countdowntimer>
        </div>
        <div class="timersection-container2 timerheadsection timer-border">
            <app-timerlimit></app-timerlimit>
        </div>
    </div>
    <div class="timerpart2 timersection">
        <div class="timersection-container1 timerheadsection timer-center timer-border">
            <app-timerstamp></app-timerstamp>
        </div>
        <div class="timersection-container2 timerheadsection timer-border">
        <app-countclicks></app-countclicks>
        </div>
    </div>
   
</div>